body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.aboutus {
  text-align: center;
  margin: 30px;
}

.container {
  display: flex;                  /* الأقسام جنب بعض */
  justify-content: space-between; /* توزيع متساوي */
  gap: 20px;                      /* مسافة بينهم */
  margin: 20px;
}

.section-box {
  flex: 1;                        /* كل قسم يأخذ نفس العرض */
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  text-align: center;             /* الأيقونة والنص بالوسط */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-top: 5px solid #3aa45e; /* خط غامق فوق القسم */
}

.section-box h2 {
  margin-top: 15px;
  color: #000000;
}

.section-box p {
  font-size: 14px;
  color: #555;
}

.icon {
  width: 60px;
  height: 60px;
}
 .line {
  height: 2px;                 /* سمك الخط */
  width: 40px;                 /* طول الخط */
  background-color: #2e7d32;   /* لون الخط */
  margin: 10px auto 0 auto;    /* يخلي الخط بالنص */
}
